/* GALLERY */
.gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2vw;
}

.gallery-item, .related-artefact {
    flex: 1 1 calc(20% - 2vw);
    max-width: 20%;
    text-align: center;
    background-color: var(--white-color);
    box-shadow: var(--box-shadow-static); 
    transition: box-shadow 0.3s ease, scale 0.3s ease;
    box-sizing: border-box;
    cursor: pointer;
    border-radius: var(--border-radius);
    padding: 10px;
    color: var(--black-color);
}

.gallery-item:hover, .related-artefact:hover {
    box-shadow: var(--box-shadow-hover);
    scale: 1.02;
}

.gallery-item img, .related-link img {
    width: 100%;
    height: 200px;
    aspect-ratio: 3 / 4;
    object-fit: contain;
}

.filter-box {
    display: inline-block;
    background-color: var(--accent-color);
    border-radius: var(--border-radius);
    padding: 5px 10px;
    margin: 5px;
}

.content {
    display: flex;
    flex-direction: row;
    padding: 4vh 8vw 8vh 0;
    gap: 6vw;
}

.filter-options {
    display: flex;
    flex-direction: column;
    gap: 4vh;
}

/* Style the checkboxes to be larger and pretty */
.dropdown-label input[type="checkbox"] {
    transform: scale(1.5);
    margin-right: 10px;
    cursor: pointer;
}

/* Make the dropdown items more interactive */
.dropdown-label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

/* Style the chevron */
.fa-chevron-down, .fa-chevron-up {
    margin-left: 10px;
    cursor: pointer;
}

/* Style the arrow when the dropdown is open */
.fa-chevron-up {
    transform: rotate(180deg);
}

.dropdown-label p {
    width: 100%;
}

.dropdown {
    min-width: 0;
}

/* Styling for the nested dropdown toggle effect */
.dropdown-item {
    padding: 10px;
}

/* General dropdown styling */
.nested-dropdown {
    display: none;
    padding-left: 20px;
}

.nested-dropdown.show {
    display: block;
}

.searchStatusContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: column;
    position: sticky;
    top: 1.5vw;
}

#displayAmount {
    position: absolute;
    left: calc(18vw + 40px);
    width: 20px;
    padding: 10px;
    white-space: nowrap;
    transition: width 0.3s ease;
    background-color: var(--secondary-color);
}

#displayAmount.expanded {
    width: 100px;
}

/* Remove filter button */
.remove-filter {
    background-color: transparent;
    border: none;
    color: var(--primary-color-dark);
    margin-left: 10px;
    cursor: pointer;
}

.remove-filter:hover {
    color: var(--black-color);
}

/* ARTEFACT */
.artefact.content {
    flex-direction: column;
    padding: 4vh 8vw 8vh 8vw;
    gap: 3vw;
}

.artefact .search-container {
    flex-direction: row;
}

.artefactDetails {
    display: flex;
    flex-direction: column;
    gap: 4vw;
}

.details {
    display: flex;
    flex-direction: row;
    gap: 3vw;
}

.title, .relatedArtefacts h2 {
    border-bottom: var(--border-bottom-black);
    margin-bottom: 10px;
}

.left, .right {
    display: flex;
    flex-direction: column;
    gap: 1vw;
    justify-content: center;
}

.right-row {
    display: flex;
    flex-direction: row;
}

.right-column {
    width: 50%;
    gap: 1vw;
    display: flex;
    flex-direction: column;
}

.detailItem {
    display: flex;
    flex-direction: column;
    gap: 0.5vw;
}

.artefactDetails .img-container img {
    width: 20vw;
}

.relatedArtefacts {
    gap: 2vw;
    display: flex;
    flex-direction: column;
}

.related-link {
    display: flex;
    flex-direction: row;
    gap: 2vw;
    
}

.related-artefact {
    gap: 1vw;
    display: flex;
    flex-direction: column;
}

.text a {
    color: var(--black-color);
}