/* GALLERY */
.gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2vw;
}

.gallery-item, .related-artefact {
    flex: 1 1 calc(20% - 2vw);
    max-width: 20%;
    text-align: center;
    background-color: var(--white-color);
    box-shadow: var(--box-shadow-static); 
    transition: box-shadow 0.3s ease;
    box-sizing: border-box;
    cursor: pointer;
    border-radius: var(--border-radius);
    padding-top: 10px;
    color: var(--black-color);
}

.gallery-item:hover, .related-artefact:hover {
    box-shadow: var(--box-shadow-hover);
}

.gallery-item img, .related-link img {
    width: 100%;
    height: 200px;
    aspect-ratio: 3 / 4;
    object-fit: contain;
}

.filter-box {
    display: inline-block;
    background-color: var(--primary-color-dark);
    border-radius: var(--border-radius);
    padding: 5px 10px;
    margin: 5px;
}

.remove-filter {
    background-color: transparent;
    border: none;
    color: var(--accent-color);
    margin-left: 10px;
    cursor: pointer;
}

.remove-filter:hover {
    color: var(--black-color);
}

/* ARTEFACT */
.artefactDetails {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.details {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.title, .relatedArtefacts h2 {
    border-bottom: var(--border-bottom-black);
    margin-bottom: 10px;
}

.left, .right {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}

.right-row {
    display: flex;
    flex-direction: row;
}

.right-column {
    width: 50%;
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.detailItem {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.artefactDetails .img-container img {
    width: 20vw;
}

.related-link {
    display: flex;
    flex-direction: row;
    gap: 2vw;
    
}

.related-artefact {
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.searchStatusContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}