.content {
    padding: 4vh;
}

.home-navigations {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 5vh;
}

.section {
    display: flex;
    flex-direction: row;
    height: 20vh;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 6px; 
    transition: box-shadow 0.3s ease; 
    border-radius: 2px;
}

.section:hover > h1 {
    background-color: black;
}

.one {
    background-image: url("../assets/porcelain.png");
}

.two {
    background-image: url("../assets/clay.png");
}

.three {
    background-image: url("../assets/grek1.png");
    background-size: cover;
}

.one h1 {
    box-shadow: #4f6585 10px 10px;
}

.two h1 {
    box-shadow: #74694d 10px 10px;
}

.three h1 {
    box-shadow: #c68d46 10px 10px;
}

.section h1 {
    background-color: #333;
    color: white;
    padding: 10px;
    transition: background-color 0.3s ease;
    border-radius: 2px;
}