/* General Section Padding Adjustments */
section {
    padding: 5vh 0;
}

.content {
    gap: 20vh;
    padding: 10vh 0 30vh 0;
}

/* Reduce Vertical Padding for Hero Section */
.hero-section {
    padding: 8vh 2vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10vh;
}

.hero-section h2 {
    margin-top: 1em;
}

.hero-section button {
    padding: 12px 24px;
    border: none;
}

.gallery-cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vw;
    padding: 4vh 8vw;
}

.gallery-cta img {
    max-width: 50%;
}

.text-section {
    text-align: center;
    max-width: 60%;
}

/* Journey Teasers */
.journey-teasers {
    width: 100%;
    background-color: var(--secondary-color);
    padding: 10vh 0;
}

.journey-teasers h1, .filter-buttons-section h1, .glossary-buttons-section h1 {
    text-align: center;
    margin: 0;
    padding: 0 0 5vh 0;
}

.teaser-grid {
    display: flex;
    justify-content: space-between;
    gap: 2vw;
    margin: 0 10vw;
}

.teaser {
    padding: 2vw;
    text-align: center;
}

.teaser img {
    width: 100%;
    height: 200px;
    aspect-ratio: 3 / 4;
    object-fit: contain;
}

.teaser h3 {
    margin-top: 1em;
}

.teaser p {
    margin: 1em 0;
}

/* Filter Buttons Section */
.filter-buttons-section {
    padding: 4vh 8vw 8vh 8vw;
    display: flex;
    flex-direction: row;
    gap: 5vw;
}

.glossary-buttons-section {
    padding: 4vh 8vw 8vh 8vw;
    display: flex;
    flex-direction: row;
    gap: 5vw;
}

.filter-buttons-section h2, .glossary-buttons-section h2 {
    text-align: center;
}

.filter-buttons-container, .glossary-buttons-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
}

.filter-button {
    border-radius: var(--border-radius);
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    border: 1px solid var(--secondary-color);
    background-color: var(--white-color);
    align-items: center;
}

.filter-button:hover {
    background-color: var(--secondary-color);
}

.filter-button i {
    margin-right: 5px;
}

/* Responsive Adjustments */
@media (max-width: 1023px) {
    .two-column {
        flex-direction: column;
    }

    .gallery-cta img {
        margin-top: 2vh;
    }
}
