.description {
    display: flex;
    flex-direction: column;
    gap: 1vw;
    align-items: center;
    padding: 0 5vw;
}

h3,
h2 {
    text-align: center;
}

.page-links-container {
    display: flex;
    flex-direction: row;
    gap: 2vw;
    justify-content: center;
}

.page-link {
    width: 30%;
    flex-grow: 1;
    display: flex;
    cursor: pointer;
    flex-direction: column;
    align-items: center;
    transition: all 0.3s ease;
    padding: 2vw;
    gap: 1vw;
}

.page-link p {
    text-align: center;
}

.page-links-container img {
    width: 300px;
    height: auto;
    max-height: 250px;
    object-fit: contain;
}

/* ACTIVATION PAGE */
.activation-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    gap: 6vh;
    padding: 6vh 0;
}

.stage {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
}

.stage img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    display: block;
}

.intro {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    transition: opacity 1s ease;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    scale: 1.4;
}

.intro h1 {
    text-align: center;
    transition: all 1s ease;
}

.stageContent {
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
    width: 80vw;
    height: 40vh;
    opacity: 0;
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 4vh 0;
    align-items: center;
    justify-content: center;
}

.labelContainer {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    width: 50%;
    height: 100%;
    justify-content: center;
    padding: 2vh 4vw;
}

.label {
    padding: 15px 20px;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
    box-shadow: var(--box-shadow-static);
    position: relative;
}

.label:not(.expanded):hover {
    transform: scale(1.02);
    box-shadow: var(--box-shadow-hover);
}

.label.expanded {
    background-color: var(--secondary-color)
}

.info-box {
    display: none;
    margin-top: 10px;
    transition: visibility 0.3s ease;
}

.label.expanded .info-box {
    display: block;
    visibility: visible;
}

.label.expanded {
    border-bottom: var(--border-bottom-accent);
}

.info-box button {
    padding: 5px 15px;
    border: none;
    background-color: var(--white-color);
    color: var(--black-color);
    border-radius: var(--border-radius);
    cursor: pointer;
}

.info-box button:hover {
    background-color: var(--accent-color);
}

.info-box .fa-xmark {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.play-audio-button {
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
}

.shrink-to-top {
    transition: all 1s ease;
    top: 0;
    scale: 1;
}

.stageContent,
.topButtons,
.bottomButtons {
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease, visibility 0s linear 1s;
}

.stageContent.fade-in,
.topButtons.fade-in,
.bottomButtons.fade-in {
    opacity: 1;
    visibility: visible;
    transition: opacity 1s ease;
    transform: scale(1);
}