.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 5vw;
}

h3,
h2 {
    text-align: center;
}

.page-links-container {
    display: flex;
    flex-direction: row;
    gap: 2vw;
    justify-content: center;
    margin-top: 2vw;
}

.page-link {
    width: 30%;
    flex-grow: 1;
    display: flex;
    cursor: pointer;
    flex-direction: column;
    align-items: center;
    transition: all 0.3s ease;
    padding: 2vw;
    gap: var(--s-gap);
}

/* ACTIVATION PAGE */
/* Main Content Structure */
.activation-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--l-gap);
    width: 100%;
    height: 100%;
}

.stage {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    gap: var(--s-gap);
    width: 100%;
    padding: 0 5vw;
    height: 100%;
}

/* Left side: Stage title, image, and artefact button */
.stageLeft {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--s-gap);
    flex: 1;
}

.stageTitle {
    text-align: center;
    margin-bottom: 0.5vw;
}

/* Right side: Info sections */
.infoContainer {
    display: flex;
    flex-direction: column;
    gap: 2vw;
    flex: 1;
    justify-content: space-between;
}

.infoSection {
    padding: 2vw;
    flex: 1;
    height: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: var(--s-gap);
    align-items: center;
    justify-content: center;
}

.infoText {
    line-height: 1.5;
    text-align: center;
}

.accent-background {
    background-color: var(--secondary-color);
    transition: background-color 0.3s ease;
}

.audioContainer {
    display: flex;
    flex-direction: column;
    gap: var(--xs-gap);
}

.audio-controls {
    width: 100%;
    display: flex;
    gap: var(--s-gap);
    justify-content: center;
    align-items: center;
}

.audio-controls .accent-container {
    justify-content: center;
}

.journeyProgress {
    display: flex;
    justify-content: center;
    gap: var(--s-gap);
}

.progress-step {
    width: 1.5vw;
    justify-content: center;
}

.progress-step.active {
    background-color: var(--accent-color);
    color: var(--black-color);
}