.content {
    display: flex;
    flex-direction: row;
    padding: 4vh 8vw 8vh 0;
    gap: 6vw;
}

.letter-section {
    margin-bottom: 20px;
}

.letter-section h1 {
    padding-bottom: 5px;
    margin-bottom: 10px;
    width: 100%;
}

.glossary-quick-nav a {
    color: var(--black-color);
}

.glossary-term {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 0.5vw;
    background-color: var(--white-color);
    padding: 10px;
    border-radius: var(--border-radius);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.glossary-term-header-wrapper {
    display: inline-block;
}

.glossary-term-header {
    display: inline;
    margin-right: 5px;
}

.glossary-category {
    display: inline; 
    font-style: italic;  
}

.glossary-description {
    margin-top: 10px;
}

.highlight {
    background-color: var(--secondary-color);
}

.gallery-link {
    position: absolute;
    right: 0.5vw;
    top: 0.5vw;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    transition: width 0.3s ease;
    overflow: hidden;
}

.gallery-link .apply-text {
    display: inline-block;
    white-space: nowrap;
    opacity: 0;
    max-width: 0;
    transition: opacity 0.3s ease 50ms, max-width 0.6s ease;
}

.gallery-link.expanded {
    width: 230px;
}

.gallery-link.expanded .apply-text {
    margin-left: 10px;
    opacity: 1;
}


.button-common {
    min-width: 20px;
}

.noResults p {
    text-align: center;
}