/* GLOSSARY */
.aSort {
    min-width: 8vw;
}

.glossary-quick-nav {
    margin: 20px 0 20px 0;
    overflow-x: auto;
    white-space: nowrap;
    width: 100%;
    justify-content: center;
    display: flex;
}

.glossary-quick-nav a {
    display: inline-block;
    margin-right: 10px;
    padding: 5px 10px;
    text-decoration: none;
    color: #000;
    border-bottom: 1px solid transparent;
}

.letter-section {
    margin-bottom: 20px;
}

.letter-section h2 {
    margin-bottom: 10px;
    border-bottom: 2px solid #000;
    width: 100%;
}

.glossary-term {
    margin-bottom: 10px;
}

.glossary-term h3 {
    margin: 0;
}

.glossary-term p {
    margin: 5px 0 0;
    color: #555;
}

.highlight {
    background-color: #c68d46;
    font-weight: bold;
}