.content {
    display: flex;
    flex-direction: row;
    padding: 4vh 8vw 8vh 0;
    gap: 6vw;
}

.letter-section {
    margin-bottom: 20px;
}

.letter-section h1 {
    padding-bottom: 5px;
    margin-bottom: 10px;
    width: 100%;
}

.glossary-quick-nav a {
    color: var(--black-color);
}

.glossary-term {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 1vw;
    background-color: var(--white-color);
    padding: 10px;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow-static);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.glossary-term h3 {
    margin: 0;
}

.glossary-term p {
    margin: 5px 0 0;
    color: var(--black-color);
}

.highlight {
    background-color: var(--secondary-color);
}

.gallery-link {
    position: absolute;
    right: 1.5vw;
    top: 1.5vw;
}

.button-common {
    min-width: 20px;
}