/* TABLET */
@media (max-width: 1023px) {
    .nav-buttons {
        display: flex;
        justify-content: space-around;
    }

    .menu-toggle {
        display: none;
    }

    h1 {
        font-size: 1.3em;
    }

    h2 {
        font-size: 0.9em;
    }

    h3,
    .button-common,
    #backToTop,
    ::placeholder {
        font-size: 0.8em;
    }

    .spinner {
        width: 8vw;
        height: 8vw;
        border: 1vw solid var(--accent-color);
        border-top: 1vw solid var(--secondary-color);
    }

    .related-link {
        justify-content: flex-start;
    }

    .related-artefact {
        flex: 1 1 calc(33.33% - 2vw);
        max-width: calc(33.33% - 2vw);
    }

    .gallery-item {
        flex: 1 1 calc(50% - 1vw);
        max-width: calc(50% - 1vw);
    }

    .gallery-cta img {
        margin-top: 1vw;
        max-width: 70%;
    }

    .button-common {
        padding: 0.8rem;
    }
}

/* MOBILE */
@media (max-width: 767px) {

    :root {
        --border-bottom-accent: 0.4vw solid var(--accent-color);
        --border-bottom-secondary: 0.4vw solid var(--secondary-color);
    }

    h1 {
        font-size: 1.5em;
    }

    h2 {
        font-size: 1em;
    }

    h3,
    #backToTop,
    ::placeholder {
        font-size: 0.9em;
    }

    h4 {
        font-size: 1em;
    }

    p {
        line-height: 1.4;
    }

    a {
        font-size: 1em;
        line-height: 1.4;
    }

    body.no-scroll {
        overflow: hidden;
    }

    .website-title {
        z-index: 1100;
    }

    #backToTop {
        bottom: 2vw;
        right: 2vw;
    }

    .white-container {
        padding: 4vw;
    }

    i:not(.audio-controls i):not(.menu-toggle i) {
        padding-right: 2vw;
    }

    .spinner {
        width: 12vw;
        height: 12vw;
        border: 2vw solid var(--accent-color);
        border-top: 2vw solid var(--secondary-color);
    }

    /* Full-screen mobile menu */
    .nav-buttons {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--primary-color-dark);
        display: flex;
        gap: 10vw;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 1000;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s ease, visibility 0.3s ease;
    }

    .nav-buttons.active {
        opacity: 1;
        visibility: visible;
    }

    .nav-buttons h2,
    .nav-buttons i {
        font-size: 1.5em;
        padding-left: 2vw;
        letter-spacing: 0.1em;
        color: var(--white-color);
    }

    .menu-close {
        position: absolute;
        top: 2vw;
        right: 4vw;
        font-size: 2rem;
        color: var(--white-color);
        cursor: pointer;
        display: none;
        z-index: 1100;
    }

    .nav-buttons.active .menu-close {
        display: block;
    }


    .top-section-nav {
        height: 6vw;
        justify-content: flex-start;
        gap: var(--m-gap);
        flex-direction: column;
        padding: 4vw;
        font-size: 1.2em;
    }

    .nav-text {
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        gap: var(--m-gap);
        width: 100%;
    }

    .nav-buttons {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .nav-buttons.active {
        display: flex;
    }

    .menu-toggle {
        display: block;
        cursor: pointer;
    }

    .button-common {
        padding: 4vw;
        text-align: center;
    }

    .content:not(#homeContent) {
        padding: 10vw 5vw;
        gap: var(--xl-gap);
    }

    .content#homeContent {
        gap: 15vw;
    }

    .footer-container,
    .footer-section {
        flex-direction: column;
        text-align: center;
        align-items: center;
        padding: 6vw 2vw;
        gap: var(--m-gap);
        display: flex;
    }

    .filter-title i,
    .sort-options .filter-title i {
        display: block;
    }

    .accent-container {
        border: 0.4vw solid var(--accent-color);
    }

    .dark-container {
        border: 0.4vw solid var(--primary-color-dark);
    }

    .large-img {
        width: 100%;
        max-height: 80vw;
    }

    .small-img {
        width: 50%;
        height: auto;
    }

    /* HOME */
    .gallery-cta,
    .journey-teasers,
    .teaser-grid {
        flex-direction: column;
        align-items: center;
        gap: 10vw;
        margin-bottom: 2vw;
    }

    .teaser {
        width: 80%;
        gap: var(--l-gap);
        align-items: center;
    }

    .text-section {
        max-width: 80%;
        width: 80%;
    }

    .gallery-cta .button-common {
        width: 60%;
        justify-content: center;
        padding: 3vw 6vw;
    }

    .gallery-cta i {
        display: none;
    }

    .gallery-cta img {
        max-width: 80%;
        height: auto;
        padding-top: 15vw;
    }

    .journey-teasers h4 {
        margin: 0 10vw;
    }

    .filter-buttons-section,
    .glossary-buttons-section {
        flex-direction: column;
        gap: var(--xl-gap);
    }

    .glossary-buttons-section {
        flex-direction: column-reverse;
    }

    .filter-button {
        padding: 3vw 5vw;
    }

    .filter-button i {
        padding-right: 2vw;
    }

    /* GALLERY */
    #galleryContent.content {
        flex-direction: column;
    }

    .gallery-item {
        flex: 1 1 100%;
        max-width: 100%;
        margin-bottom: 2vw;
    }

    .related-artefact {
        flex: 1 1 calc(50% - 2vw);
        max-width: calc(50% - 2vw);
    }



    .details {
        flex-direction: column !important;
    }

    .left {
        align-items: center;
    }

    .filter-button {
        text-align: center;
        margin-bottom: 2vw;
    }

    .sidenav-container {
        width: 100%;
        gap: var(--xl-gap);
    }

    .mobile-overlay {
        visibility: hidden;
        opacity: 0;
        max-height: 0;
        transition: max-height 0.3s ease, opacity 0.3s ease;
    }

    .mobile-overlay.show {
        display: flex;
        visibility: visible;
        opacity: 1;
        max-height: 1300px;
    }

    .sort-buttons {
        gap: var(--m-gap);
    }

    .filter-dropdowns {
        gap: var(--l-gap);
    }

    .sidenav-container .accent-container:not(.dropdown) {
        padding: 4vw;
    }

    .dropdown.button-common {
        padding: 0 4vw;
    }

    .dropdown .dropdown-button {
        padding: 4vw 0;
    }

    .search-container,
    .sort-options,
    .filter-options {
        gap: var(--m-gap);
    }

    .dropdown-content label {
        padding: 2vw 0;
    }

    .dropdown-content.show {
        gap: var(--m-gap);
        padding: 0 4vw 4vw 4vw;
    }

    .dropdown-label input[type="checkbox"] {
        margin-right: 2vw;
    }

    .nested-dropdown {
        padding-left: 4vw;
    }

    .selectedFilters {
        display: flex;
        flex-wrap: wrap;
        gap: var(--m-gap);
    }

    .filter-title h2 {
        cursor: pointer;
    }

    .filter-box {
        padding: 1.5vw;
        gap: var(--s-gap);
        display: flex;
    }

    /* ARTEFACT PAGE */
    .right {
        gap: var(--l-gap);
    }

    /* JOURNEYS */
    .page-links-container {
        flex-direction: column;
        margin-top: 4vw;
    }

    .page-links h4 {
        padding-bottom: 1vw;
    }

    .page-link {
        width: auto;
        padding: 6vw;
        gap: var(--l-gap);
    }

    .stage {
        flex-direction: column;
        gap: var(--m-gap);
        padding: 0;
    }

    .audioContainer,
    .audio-controls {
        gap: var(--m-gap);
    }

    .infoContainer {
        width: 100%;
        padding: 2vw 0;
    }

    .topButtons,
    .bottomButtons {
        flex-direction: row;
        align-items: center;
    }

    .infoSection {
        padding: 4vw;
    }

    .journeyProgress {
        flex-direction: row;
        gap: var(--m-gap);
    }

    /* KNOWLEDGE */
    #glossaryPage.content {
        flex-direction: column;
    }

    .glossary-term {
        padding: 4vw;
        font-size: 0.8em;
        gap: var(--m-gap);
    }

    .glossary-term-header-wrapper {
        width: 100%;
        text-align: left;
    }

    .glossary-description {
        margin-top: 1vw;
    }

    .glossary-term .button-common {
        padding: 3vw;
    }

    .gallery-link {
        right: 1vw;
        top: 1vw;
    }

    .letter-section {
        margin-bottom: 4vw;
    }

    .letter-section h1 {
        font-size: 1.2em;
        margin-bottom: 2vw;
    }
}