@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color-light: #efefef;
    --primary-color-dark: #333333;
    --accent-color: #bdaca2;
    --secondary-color: #b1734a;
    --black-color: #000000;
    --white-color: #ffffff;
    --border-radius: 1vw;
    --box-shadow-static: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    --box-shadow-hover: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    --border-bottom-accent: 0.15vw solid var(--accent-color);
    --border-bottom-secondary: 0.15vw solid var(--secondary-color);
    --xs-gap: 0.5vw;
    --s-gap: 1vw;
    --m-gap: 2vw;
    --l-gap: 3vw;
    --xl-gap: 6vw;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    scroll-behavior: smooth;
}

html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--primary-color-light);
    color: var(--primary-color-dark);
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

/* FONTS */
h1 {
    font-size: 2.5em;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: var(--black-color);
}

h2 {
    font-size: 1.3em;
    font-family: "Lora", serif;
    font-weight: 300;
    color: var(--black-color);
}

h3, ::placeholder {
    font-size: 1.2em;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
    color: var(--primary-color-dark);
}

::placeholder {
    text-align: left;
}

#searchInput {
    text-align: left;
}

.sort-buttons .accent-container {
    justify-content: center;
}

h4 {
    font-size: 1.5em;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: var(--black-color);
}

p {
    font-size: 0.9em;
    font-weight: 300;
    line-height: 1.5;
    color: var(--black-color);
}

li {
    list-style: none;
    color: var(--primary-color-light);
}

a {
    color: var(--primary-color-light);
    text-decoration: none;
    font-weight: 300;
    font-size: 0.9em;
}

footer li, footer a, footer p, footer h3, label p {
    color: var(--white-color);
}

footer h3 {
    text-align: left;
}

.button-common {
    padding: 0.5vw 1vw;
    border: none;
    transition: box-shadow 0.3s ease;
    cursor: pointer;
    min-width: 5vw;
    text-align: center;
    box-shadow: var(--box-shadow-static);
}

.button-common:hover {
    box-shadow: var(--box-shadow-hover);
}

.white-container {
    background-color: var(--white-color);
    color: var(--black-color);
    padding: 2vw;
    border-radius: var(--border-radius);
}

.dark-container {
    background-color: var(--white-color);
    border: 0.1vw solid var(--primary-color-dark);
    border-radius: var(--border-radius);
    color: var(--black-color);
}

.dark-container:hover {
    background-color: var(--primary-color-dark);
    color: var(--white-color);
}

.accent-container {
    background-color: var(--white-color);
    color: var(--black-color);
    border-radius: var(--border-radius);
    border: 0.1vw solid var(--accent-color);
    padding: 0.5vw 1.2vw;
    display: flex;
    align-items: center;
}

.accent-container:hover {
    background-color: var(--accent-color);
    color: var(--black-color);
    cursor: pointer;
}

.topButtons, .bottomButtons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-height: 34px;
}

i:not(.audio-controls i) {
    padding-right: 0.5vw;
}

.menu-toggle, .menu-close {
    display: none;
    padding: 0 0 2vw 2vw;
}

.large-img {
    max-width: 100%;
    max-height: 25vw;
    object-fit: contain;
    display: block;
}

.small-img {
    width: 100%;
    height: 10vw;
    aspect-ratio: 3 / 4;
    object-fit: contain;
}

/* CONTENT */
.content {
    display: none;
    flex-direction: column;
    padding: 4vw 8vw;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    box-sizing: border-box;
    gap: var(--xl-gap);
}

#loading-screen {
    position: fixed;
    width: 100%;
    height: 100%;
    background: var(--primary-color-light);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner {
    border: 0.25vw solid var(--accent-color);
    border-top: 0.25vw solid var(--secondary-color);
    border-radius: 50%;
    width: 4vw;
    height: 4vw;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* NAVIGATION */
.top-section-nav {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    height: 3vw;
    padding: 0.5vw 1vw;
}

.nav-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: left;
    height: 100%;
}

.nav-link {
    margin-right: 1vw;
    padding: 0 0 0.1vw 0;
    border-bottom: 0.15vw solid transparent;
    transition: border-bottom 0.3s ease;
}

.nav-buttons {
    margin-left: auto;
    align-self: flex-end;
    cursor: pointer;
    gap: var(--m-gap);
    display: flex;
}

.nav-buttons .active h2 {
    font-weight: 700;
    border-bottom: var(--border-bottom-secondary);
}

.nav i {
    color: var(--black-color);
}

.nav a {
    color: var(--primary-color-light);
    flex-wrap: nowrap;
    display: flex;
    align-items: center;
}

.nav-link:not(.active):hover {
    border-bottom: var(--border-bottom-secondary);
}

.content-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

/* Sidebar container */
.sidenav-container {
    display: flex;
    flex-direction: column;
    gap: var(--l-gap);
    width: 18vw;
    padding: 0 1vw;
    flex-shrink: 0;
    transition: all 0.3s ease;
}

.sidenav-container h4, .page-links h4 {
    border-bottom: var(--border-bottom-accent);
}

/* SEARCH */
.search-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.search input {
    width: 90%;
    border: none;
    background: none;
    outline: none;
    color: var(--primary-color-dark);
}

.search i {
    position: absolute;
    left: 0.5vw;
    color: var(--black-color);
    z-index: 1;
}

.search-item, .search-item:hover {
    outline: none;
    cursor: text;
    padding: 1vw 1.2vw;
}

.search-item::placeholder {
    color: var(--primary-color-dark);
}

/* DROPDOWN */
.dropdown {
    position: relative;
    display: inline-block;
    min-width: 11vw;
    text-wrap: nowrap;
}

.dropdown-button {
    width: 100%;
    border: none;
    padding: 0.5vw 0;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    background-color: transparent;
}

.dropdown-button h3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.filter-title h2, .gallery-cta h2 {
    letter-spacing: 0.1rem;
    text-transform: uppercase;
}

.filter-title h2 {
    display: flex;
    justify-content: space-between;
}

.filter-title i,
.sort-options .filter-title i {
    display: none;
}

.sort-options {
    display: flex;
    flex-direction: column;
    gap: var(--m-gap);
}

.sort-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: var(--xs-gap);
}

.aSort {
    text-align: left;
    padding: 0.5vw 1.2vw;
}

.aSort:hover {
    background-color: var(--accent-color);
    cursor: pointer;
}

.aSort.selected {
    background-color: var(--secondary-color);
    border: none;
}

.dropdown-button i {
    font-size: 1rem;
    transition: transform 0.3s;
}

.dropdown-button i.fa-caret-down {
    transform: rotate(0deg);
}

.dropdown-button i.fa-caret-up {
    transform: rotate(180deg);
}

.dropdown-content {
    margin-top: 0.5vw;
    display: none;
    opacity: 0;
    transition: opacity 0.6s ease;
}

.dropdown-content.show {
    opacity: 1;
    display: flex;
    flex-direction: column;
    gap: var(--xs-gap);
}


.dropdown-label input[type="checkbox"] {
    accent-color: var(--primary-color-dark);
    border-radius: 0;
}

.dropdown-content input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    border: none;
}

.dropdown-content label {
    display: flex;
    align-items: center;
    padding: 0.5vw;
    cursor: pointer;
    transition: background-color 0.2s ease;
    white-space: nowrap;
}

.dropdown-label {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: var(--xs-gap);
    padding: 0.25vw 0;
}

.dropdown-label p {
    margin: 0;
    color: var(--primary-color-dark);
}

/* FILTERS */
.filter-button {
    display: none;
}

.filter-popup {
    display: none;
}

/* BACK TO TOP BUTTON */
#backToTop {
    position: fixed;
    bottom: 1.5vw;
    right: 1.5vw;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 1;
}

#backToTop.show {
    opacity: 1;
    pointer-events: auto;
    cursor: pointer;
}

#backToTop:hover h2 {
    color: var(--white-color);
}

/* FOOTER */
footer {
    position: relative;
    background-color: var(--primary-color-dark);
    color: var(--text-color-light);
    width: 100%;
}

.footer-container {
    padding: 2vw 8vw;
    gap: var(--m-gap);
    display: flex;
    justify-content: space-between;
}

.footer-section {
    flex: 1;
}

.footer-section p {
    margin: 0;
}