@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    scroll-behavior: smooth;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}
/* SCROLL BAR */
::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}


/* FONTS */
h1 {
    font-size: 2em;
    font-family: "Playfair Display", serif;
    font-weight: 700;
}

h2 {
    font-weight: 300;
    font-size: 1.2em;
}

h3, .filter-item {
    font-weight: 500;
    font-size: 1em;
}

p {
    font-size: 0.8em;
    font-weight: 300;
}

li {
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
    font-weight: 300;
    font-size: 0.9em;
}

.website-title:hover {
    color: black;
}

/* CONTENT */
.content {
    display: flex;
    flex-direction: column;
    padding: 4vh 8vw 8vh 8vh;
    width: 100%;
    box-sizing: border-box;
    gap: 8vh;
}

.top-section-nav {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    height: 7vh;
    padding: 0 20px 10px 20px;
}

.nav-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: left;
    height: 100%;
}

.nav-link {
    margin-left: 20px;
    padding: 0 0px 2px 0px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.3s ease;
}

.nav-buttons {
    margin-left: auto;
    align-self: flex-end;
    cursor: pointer;
    gap: 1vw;
    display: flex;
}

.nav-buttons .active, .nav-buttons .active:hover {
    cursor: default;
    text-decoration: none;
}

.nav-buttons .active h2 {
    font-weight: 700;
    border-bottom: 1px solid #c68d46;
}

.nav a {
    color: #333;
}

.nav-link:not(.active):hover, .glossary-quick-nav a:hover {
    color: black;
    border-bottom: 1px solid #c68d46;
}

/* SEARCH */
.search-container {
    display: flex;
    flex-direction: row;
    /* gap: 10px; */
    /* background-color:#e2e2e2; */
    justify-content: space-between;
}

.search-container span {
    gap: 10px;
    display: flex;
}

#searchInput {
    outline: none;
    z-index: 1;
}

::placeholder {
    color: white;
    opacity: 1;
}

.filter-item, .start-button {
    padding: 10px;
    box-sizing: border-box;
    border: none;
    border-radius: 2px;
    background-color: #333;
    text-wrap: nowrap;
    color: white;
    transition: box-shadow 0.3s ease;
}

.filter-item:hover {
    box-shadow: #c68d46 4px 4px;
    cursor: pointer;
}

.filter-item.selected {
    background-color: #555;
}

.dropdown {
    position: relative;
    display: inline-block;
    min-width: 10vw;
}

.dropdown-button {
    cursor: pointer;
    text-align: left;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 1vw;
}

.dropdown-content.show {
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 90%;
    width: 100%;
    z-index: 1;
    max-height: 200px;
    overflow-y: auto;
    background-color: #333;
    color: white;
    border-radius: 0 0 4px 4px;
}

.dropdown-content label {
    display: flex;
    padding: 5px;
    cursor: pointer;
    font-size: 12px;
}

.dropdown-content input[type="checkbox"] {
    margin-right: 8px;
}


/* BACK TO TOP BUTTON */
#backToTop {
    position: fixed;
    bottom: 1.5vw;
    right: 1.5vw;
    opacity: 0;
    pointer-events: none;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 2px;
    padding: 1vh 2vw;
    z-index: 1;
    transition: opacity 0.3s ease, box-shadow 0.3s ease;
}

#backToTop.show {
    opacity: 1;
    pointer-events: auto;
    cursor: pointer;
}

#backToTop:hover {
    box-shadow: #c68d46 4px 4px;
}

/* FOOTER */
footer {
    position: relative;
    background-color: #333;
    width: 100%;
    color: white;
}

.footer-container {
    padding: 4vh 8vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-section {
    flex: 1;
}

.copyright, .copyright h3 {
    text-align: right;
}

.creator-info, .creator-info h3 {
    text-align: left;
}

.quick-links {
    text-align: center;
}

.footer-section p {
    margin: 0;
    line-height: 1.5;
}

/* TABLET */
@media (max-width: 900px) {
    h1 {
        font-size: 1.3em;
    }

    h2, .bottom-section-nav .svg-text {
        font-size: 1em;
    }

    h3, .filter-item, #backToTop {
        font-size: 0.8em;
    }
}

/* MOBILE */
@media (max-width: 768px) {
    h1 {
        font-size: 1em;
    }

    h2, .bottom-section-nav .svg-text {
        font-size: 0.8em;
    }

    h3, .filter-item, #backToTop {
        font-size: 0.7em;
    }

    a {
        font-size: 0.6em;
    }

    p {
        font-size: 0.6em;
    }
    
    .footer-container {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .footer-section {
        padding: 10px 0;
        text-align: center;
    }
}